<div class="row no-gutters"   (keydown.enter)="g.admin=!g.admin">
  <div class="col-md-2"></div>

  <div class="col-md-8">
    <div class="card m-2">
      <div class="card-header h4"> Stealth Drone Deliveries</div>
      <div class="card-body">

        <button class="btn btn-outline-primary">primary button</button>
        <button class="btn btn-outline-secondary">secondary button</button>
        <button class="btn btn-outline-success">success button</button>
        <button class="btn btn-outline-info">info button</button>

        <span class="text-success"> Severe warning!!</span>


      </div>

      <div *ngIf="g.admin">ADMIN MODE</div>


      <div class="card-footer">
        <div class="text-right">
          <button class="btn btn-outline-info" *ngIf="g.admin">submit</button>
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-2"></div>
</div>


