<div class="row no-gutters" id="productpage">
  <div class="col-md-6 p-3">
    <div class="card" style="height: 300px">
      <div class="card-header h3">
        From anywhere in the world
      </div>
      <div class="card-body">
        We accept packages delivered from anywhere in the world, and make them available to you
        anonymously, and discretely.
      </div>
    </div>
    <div class="card" style="height: 300px" id="bluetoo">
      <div class="card-header h3">
        Delivered to Bluetooth MAC
      </div>
      <div class="card-body">
        You don't have to share your location with us; just share MAC address of any bluetooth
        device, and our drone will locate the device and drop the package close to it.
      </div>
    </div>

  </div>
  <div class="col-md-6 p-3">
    <div class="card" style="height: 300px">

    </div>
    <div class="card" style="height: 300px">
      <div class="card-header h3">
        Crypto payment
      </div>
      <div class="card-body">
        Pay conveniently with any of the popular cryptocurrencies.
      </div>

    </div>

  </div>
</div>
